.container {
   display: flex;
   flex: 1;
   padding-top: 48px;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.formContainer {
   border-radius: 10px;
   background-color: #242426;
   padding: 40px;
   width: 574px;
}

.lightFormContainer{
   background-color: #FFFFFF;
}

.title {
   color: #FFFFFF;
   font-family: 'Exo 2';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   margin-bottom: 40px;
   text-align: start;
}

.lightTitle {
   color: #242426;
}