.container {
   flex: 1;
   margin: 0 auto;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("../../Assets/Image/bg.jpg") ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.logo {
   display: flex;
   align-items: flex-start;
   margin-bottom: 100px;
   padding-left: 64px;
   padding-top: 48px;
}